[submodule "tests/fixtures/real-world/fastify-demo"]
	path = tests/fixtures/real-world/fastify-demo
	url = https://github.com/fastify/demo.git
[submodule "tests/fixtures/real-world/fastapi-fullstack"]
	path = tests/fixtures/real-world/fastapi-fullstack
	url = https://github.com/tiangolo/full-stack-fastapi-template.git
[submodule "tests/fixtures/real-world/django-rest-tutorial"]
	path = tests/fixtures/real-world/django-rest-tutorial
	url = https://github.com/encode/rest-framework-tutorial.git
[submodule "tests/fixtures/real-world/flask-realworld"]
	path = tests/fixtures/real-world/flask-realworld
	url = https://github.com/DataDog/flask-realworld-example-app.git
[submodule "tests/fixtures/real-world/express-examples"]
	path = tests/fixtures/real-world/express-examples
	url = https://github.com/expressjs/express.git
[submodule "tests/fixtures/real-world/nestjs-realworld"]
	path = tests/fixtures/real-world/nestjs-realworld
	url = https://github.com/lujakob/nestjs-realworld-example-app.git
[submodule "tests/fixtures/real-world/golang-gin-realworld-example-app"]
	path = tests/fixtures/real-world/golang-gin-realworld-example-app
	url = https://github.com/gothinkster/golang-gin-realworld-example-app.git
[submodule "tests/fixtures/real-world/docflow"]
	path = tests/fixtures/real-world/docflow
	url = https://github.com/jiisanda/docflow.git
